deployment
*.nupkg
*.log

# Mac OS X
.DS_Store


# xcode
*.xccheckout
*xcuserdata*
DerivedData
build
*xcworkspace*


# JetBrains
.idea


# MS Visual Studio
bin
obj
*.pdb
*.ncb
*.suo
*.userprefs
TestResult.xml
UpgradeLog.html
UpgradeLog.htm
*.VisualState.xml
*.sln.*

# NuGet
packages
*.exe
*.dgml