<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monotouch10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monotouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monotouch10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monotouch10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monotouch10" />
  <package id="Portable.BouncyCastle" version="1.8.1" targetFramework="monotouch10" />
  <package id="Sitecore.MobileSDK.PasswordProvider" version="1.0.3-beta1" targetFramework="monotouch10" />
  <package id="Sitecore.MobileSDK.Xamarin" version="1.0.2-beta1" targetFramework="monotouch10" />
</packages>