<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key="anonymousInstanceURL" value="http://mobiledev1ua1.dk.sitecore.net:750" />
    <add key="authenticatedInstanceURL" value="http://mobiledev1ua1.dk.sitecore.net:7119" />

    <add key="HomeItemId" value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}" />
    <add key="HomeItemPath" value="/sitecore/content/Home" />

    <add key="ItemIdNotExistent" value="{not existent}" />
    <add key="ItemIdInvalid" value="{110D559F-QQQQ-QQQQ-QQQQ-8A5DF7E70EF9}" />
    <add key="ItemIdNull" value="{null}" />

    <add key="EmptyItemPath" value="" />
    <add key="NotExistentItemPath" value="/Not/Existent/Path" />
    
  </appSettings>
</configuration>