<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="MobileSDKUnitTest_Android.MobileSDK_Android_Tests" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23" />
	<application android:label="MobileSDK-Android-Integration-Tests"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>